.section-heading{
    font-size: 30px;
    margin: 20px 0px;
    font-weight: 700;
    color: $text-color;
    text-align: center;

    &:after{
        content: "";
        display: block;
        height: 5px;
        width: 70px;
        background-color: $primary-color;
        transform: skew(45deg);
        margin: 15px auto;
        
    }
}
.sub-heading{
    font-size: 24px;
    color: $secondary-color;
    font-weight: 400;
}
.section-content{
    font-size: 18px;
    color: $text-color;
    font-weight: 200;
    margin: 20px 0px;
    text-align: center;
}
.strongy{
    color: $secondary-color;
}