.main-footer{
    padding: 30px 10px;
    background-color: #20211f;
    color: $base-color;
    
    a{
        color: $base-color;
    }
}

.social-footer{
    padding: 10px;
    background-color: #80ba42;
    text-align: center;
}
.copyrights{
    color: $base-color;
}
.footer-list{
    padding-left: 0px;
    list-style: none;
    text-align: left;

    & li{
        margin-bottom: 12px;
    }
    & li a{
        font-size: 16px;
        font-weight: 400;
        color: $base-color;
    }
    & li i{
        color: $secondary-color;
        margin-right: 6px;
    }
    &__heading{
        margin: 0px 0px 10px;
        padding: 10px 10px;
        border-bottom: 2px solid $secondary-color;

        &:after{
            // content: "";
            // display: block;
            // width: 40px;
            // height: 4px;
            // background-color: #7fbb42;
            // transform: skew(45deg);
            // margin-top: 9px;
        }
    }
}