.main-header{
    background-color: $base-color;
    text-align: center;
    font-size:0px;
    padding: 8px 0px; 
}
.main-header__logo{
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}
.main-header__details{
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    font-size: 16px;

    & span{
        margin-right: 20px;
        vertical-align: middle;
    }
    & span a{
        color: black;
    }
    & span i{
        margin-right: 5px;
        font-size: 18px;
    }
}