.list-card{
    padding-left:0px;
    list-style: none;
    // box-shadow: 1px -1px 8px -1px rgba(0,0,0,0.54);
    border: 1px solid #ddd;
    
    & li{
        padding: 12px;
        text-align: center;
        border-bottom: 1px solid #ddd; 
    }
    &__header{
    margin: 0px;
    text-align: center;
    background-color: #f5f5f5;
    font-weight: bold; 
    color: $primary-color;
    padding: 10px;
    }
}