.main-nav{
    background-color: $primary-color;
    border: none;
    border-radius: 0px;
    margin-bottom: 0px;

    .navbar-brand{
        color: $base-color;
    }

    .navbar-toggle{

        .icon-bar{
            background-color: $base-color;
        }
        &:hover,&:active{
            background-color: transparent;
        }
    }
}
.main-nav.affix{
    z-index: 100;
    left: 0px;
    right: 0px;
    top: 0px;
}
.main-nav .navbar-nav{

        
    li a{
        
        color: $base-color;
    
        &:hover, &:active {
            color: $base-color;
            background-color: $secondary-color;
        }
        &:visited {
            color: $base-color;
        }

        }
    li.active a {
        color: $base-color;
        background-color: $secondary-color; 
    }

}

// .navbar-nav {
//     width: 100%;
//     text-align: center;
//     > li {
//       float: none;
//       display: inline-block;
//     }
//   }