html {
  font-family: 'Open Sans', sans-serif; }

a {
  color: #000; }

.section-heading {
  font-size: 30px;
  margin: 20px 0px;
  font-weight: 700;
  color: #444444;
  text-align: center; }
  .section-heading:after {
    content: "";
    display: block;
    height: 5px;
    width: 70px;
    background-color: #227bb4;
    transform: skew(45deg);
    margin: 15px auto; }

.sub-heading {
  font-size: 24px;
  color: #80ba42;
  font-weight: 400; }

.section-content {
  font-size: 18px;
  color: #444444;
  font-weight: 200;
  margin: 20px 0px;
  text-align: center; }

.strongy {
  color: #80ba42; }

.main-header {
  background-color: #ffffff;
  text-align: center;
  font-size: 0px;
  padding: 8px 0px; }

.main-header__logo {
  display: inline-block;
  vertical-align: middle;
  width: 50%; }

.main-header__details {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  font-size: 16px; }
  .main-header__details span {
    margin-right: 20px;
    vertical-align: middle; }
  .main-header__details span a {
    color: black; }
  .main-header__details span i {
    margin-right: 5px;
    font-size: 18px; }

.main-nav {
  background-color: #227bb4;
  border: none;
  border-radius: 0px;
  margin-bottom: 0px; }
  .main-nav .navbar-brand {
    color: #ffffff; }
  .main-nav .navbar-toggle .icon-bar {
    background-color: #ffffff; }
  .main-nav .navbar-toggle:hover, .main-nav .navbar-toggle:active {
    background-color: transparent; }

.main-nav.affix {
  z-index: 100;
  left: 0px;
  right: 0px;
  top: 0px; }

.main-nav .navbar-nav li a {
  color: #ffffff; }
  .main-nav .navbar-nav li a:hover, .main-nav .navbar-nav li a:active {
    color: #ffffff;
    background-color: #80ba42; }
  .main-nav .navbar-nav li a:visited {
    color: #ffffff; }
.main-nav .navbar-nav li.active a {
  color: #ffffff;
  background-color: #80ba42; }

.main-footer {
  padding: 30px 10px;
  background-color: #20211f;
  color: #ffffff; }
  .main-footer a {
    color: #ffffff; }

.social-footer {
  padding: 10px;
  background-color: #80ba42;
  text-align: center; }

.copyrights {
  color: #ffffff; }

.footer-list {
  padding-left: 0px;
  list-style: none;
  text-align: left; }
  .footer-list li {
    margin-bottom: 12px; }
  .footer-list li a {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff; }
  .footer-list li i {
    color: #80ba42;
    margin-right: 6px; }
  .footer-list__heading {
    margin: 0px 0px 10px;
    padding: 10px 10px;
    border-bottom: 2px solid #80ba42; }

.full-carousel-wrapper {
  width: 100%; }

.full-carousel-wrapper #home-carousel .carousel-inner .item img {
  width: 100%;
  height: 500px; }

.list-card {
  padding-left: 0px;
  list-style: none;
  border: 1px solid #ddd; }
  .list-card li {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd; }
  .list-card__header {
    margin: 0px;
    text-align: center;
    background-color: #f5f5f5;
    font-weight: bold;
    color: #227bb4;
    padding: 10px; }

.home-welcome {
  padding: 90px 0px; }

.home-welcome .section-heading {
  margin-bottom: 40px; }

/*# sourceMappingURL=main.css.map */
